body{
    font-family: 'Montserrat', sans-serif;
}
.page{
 
   
}


.card-body{
    margin: 0;
    padding: 0;
    padding-top:1em;
}

.col-lg-4{
    margin: 0;
    padding-top: 2.5em;

}

.card{
    border: none;
    width: 18rem;
}



@media only screen and (max-width: 768px) {
  
.card{
  width: 100%;  
}
}



.img-fluid{
    border:none;
}


/* BOTON NAVBAR RESPONSIVE */

.abrir{
    width: 100%;
}
    

@media only screen and (min-width: 992px) {

    .navbar-collapse{
        display: none;
    }
    .sidenav {
        display: none;
      }
        
      
        }
@media only screen and (max-width: 992px) {

   

.navbar-collapse{
    display: none;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.25s;
    padding-top: 5em;
    
}

.texto_sidenav a {
    
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}


  
    }
   
        


/* IMAGE HOVER */

/* NAVBAR */


.navbar{
    background-color: white !important;
    -webkit-box-shadow: 0px 2.5px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2.5px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2.5px 5px 0px rgba(0,0,0,0.75);

}

.navbar a{
    color: 	  black;
    transition: 0.3s;
}
.navbar a:hover{
    text-decoration: none;
 
   
}


@media only screen and (max-width: 985px) {
    .list-responsive{
        border-bottom: 1px solid;
     }
}








.navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler:focus {
    outline: none;
    background: transparent !important;
  }
  
  .navbar-toggler .icon-bar {
    background-color: black;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
  }
  
  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  
  .navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
  }
  
  /* .icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all .2s;
  }
  
  .navbar-toggler:hover>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  } 
   */
.navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  } 
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
  }
  
  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
  } 
/*FINISH NAVBAR */

/*HOME*/

h1{
    color: aliceblue;
}

.home1{
    min-height: 20em;
        background: linear-gradient(135deg, #43C6AC 0%, #191654 100%);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 7.5em;
        padding-top: 7.5em;
            width: 100%;
}
.home2{
    min-height: 30em;
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 5em;
       padding-top: 5em;
        width: 100%;
    }

    .home2 h4{
        color: black;
    }

    .home3{
        min-height: 30em;
        background: linear-gradient(135deg, #8A2387 0%, #E94057 50%, #F27121 100%);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 5em;
        padding-top: 5em;
            width: 100%;
        }
    
        .home3 h4{
            color: white;
        }
    

        .home4{
            min-height: 30em;
            background-color: white;
            background-repeat: no-repeat;
            background-size: cover;
            padding-bottom: 5em;
            padding-top: 5em;
                width: 100%;
            }
        
            .home4 h4 {
                color: black;
            }  
            .home4 h1{
                color: black;
            }

            .home5{
                min-height: 30em;
                background: linear-gradient(135deg, #43C6AC 0%, #191654 100%);
                background-repeat: no-repeat;
                background-size: cover;
                padding-bottom: 5em;
                padding-top: 5em;
                    width: 100%;
                }
            
                .home5 h4 {
                    color: white;
                }  
                .home5 h1{
                    color: white;
                }




/* ESPAI */

.espai1{
    min-height: 20em;
        background: linear-gradient(135deg, #43C6AC 0%, #191654 100%);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 7.5em;
        padding-top: 7.5em;
            width: 100%;
    }

.espai1 h4{
    color: white;
}

    .espai2{
        padding-top:2.5em;
        padding-bottom: 2.5em;
    }


/* BLOG */

.blog1{
    min-height: 20em;
    background: linear-gradient(135deg, #43C6AC 0%, #191654 100%);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 7.5em;
    padding-top: 7.5em;
        width: 100%;
    }

   

    /* CONTACTE */

    .contacte1{
        min-height: 20em;
        background: linear-gradient(135deg, #43C6AC 0%, #191654 100%);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 7.5em;
        padding-top: 7.5em;
            width: 100%;
        }
    
    .contacte1 h4{
        color: white;
    }

    /* IP */

    .ip1{
        min-height: 20em;
        background: linear-gradient(135deg, #43C6AC 0%, #191654 100%);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 7.5em;
        padding-top: 7.5em;
            width: 100%;
        }
    
    .ip1 h4{
        color: white;
    }
    .ip2{
        min-height: 30em;
        background:white;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 5em;
        padding-top: 5.5em;
            width: 100%;
            border-bottom: 2px solid;
        }
    
    .ip2 h4{
        color: black;
    }

    .ip3{
        min-height: 30em;
        background:white;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 5em;
        padding-top: 5.5em;
            width: 100%;
        }
    
    .ip3 h4{
        color: black;
    }


    /* biografia */

    .biografia{
        min-height: 30em;
        background:white;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 5em;
        padding-top: 5.5em;
            width: 100%;
    }

    .bio-col{
        padding-top:1em;
    }


    /* footer */


    .footer{
            min-height: 5em;
        background:white;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 2.5em;
        padding-top: 2.5em;
            width: 100%;
    }